<!DOCTYPE html>
<html lang="en">
<head>
    <title>SlotShop - Sobre Nós</title>
    <#include "/head.html" />
</head>
<#include "/header.html" />
<div id="buy">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Empresa</a></li>
                        <li class="active">Sobre</li>
                    </ul><!-- end breadcrumb -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumbs -->
    <section class="section white-backgorund">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="title-wrap">
                        <h2 class="title">SlotShop</h2>
                        <p class="lead">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row text-center">
                <div class="col-sm-4">
                    <h1>${productsAmount}</h1>
                    <h6>Produtos na Loja</h6>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div><!-- end col -->
                <div class="col-sm-4">
                    <h1>${sellsAmount}</h1>
                    <h6>Vendas finalizadas</h6>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div><!-- end col -->
                <div class="col-sm-4">
                    <h1>${usersAmount}</h1>
                    <h6>Usuários cadastrados</h6>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</div>
<#include "/footer.html" />
</body>
</html>
