<!DOCTYPE html>
<html lang="en">
<head>
    <title>SlotShop - Confirmação de Compra</title>
    <#include "/head.html" />
</head>
<#include "/header.html" />
<div id="checkout">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Compras</a></li>
                        <li class="active">Concluir Compra</li>
                    </ul><!-- end breadcrumb -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumbs -->

    <!-- start section -->
    <section class="section white-backgorund">
        <div class="container">
            <div class="row">
                <!-- start sidebar -->
                <!-- end sidebar -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h2 class="title">Concluir Compra</h2>
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <hr class="spacer-5"><hr class="spacer-20 no-border">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="thin">Muito obrigado pela sua compra!</h5>
                            <hr class="spacer-20 no-border">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="box-banner-wide success-background">
                                        <div class="row">
                                            <div class="col-sm-8 vertical-align" style="width: 100%;">
                                                <h4 class="alt-font text-uppercase text-dark"><span class="text-white">Seu pagamento foi: </span> APROVADO!</h4>
                                                <p>Logo estaremos enviando seus produtos, fique de olho no status de sua compra!</p>
                                            </div><!-- end col -->
                                            <div class="col-sm-4 vertical-align" style="width: 100%;">
                                                <a href="#" class="btn btn-light semi-circle btn-md">Mihas Compras</a>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end box-banner-wide -->
                                </div><!-- end col -->
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
</div>
<#include "/footer.html" />
</body>
</html>
