<!DOCTYPE html>
<html lang="en">
<head>
    <title>SlotShop - Carrinho de Compras</title>
    <#include "/head.html" />
</head>
<body>
<#include "/header.html" />
<div id="cart">
    <!-- page -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li class="active">Meu Carrinho</li>
                    </ul><!-- end breadcrumb -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumbs -->

    <section class="section white-backgorund">
        <div class="container">
            <div class="row">
                <!-- end sidebar -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h2 class="title">Meu Carrinho</h2>
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <hr class="spacer-20">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive" v-if="checkList(cart.cartProducts)">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">Produto</th>
                                            <th></th>
                                            <th class="col-md-2">Valor</th>
                                            <th class="col-md-2 text-center">Quantidade</th>
                                            <th class="text-right">Total</th>
                                            <th class="text-right col-md-2">Remover</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="cartProduct in cart.cartProducts">
                                            <td>
                                                <a :href="'/product/' + cartProduct.product.id + '/' + cartProduct.product.name">
                                                    <img width="50px" :src='getProductPicture(cartProduct.product.gallery[0].picture)' :alt='cartProduct.product.name'>
                                                </a>
                                            </td>
                                            <td>
                                                <h6 class="regular"><a :href="'/product/' + cartProduct.product.id + '/' + cartProduct.product.name">{{cartProduct.product.name}}</a></h6>
                                            </td>
                                            <td class="text-rigth">
                                                <span>{{cartProduct.product.valueFormatted}}</span>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control col-md-1" name="amount" v-model="cartProduct.amount" v-on:change="changeAmount(cartProduct)" />
                                            </td>
                                            <td class="text-right">
                                                <span class="text-primary">{{cartProduct.totalValueFormatted}}</span>
                                            </td>
                                            <td>
                                                <button type="button" class="close" @click="removeToCart(cartProduct)">×</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table><!-- end table -->
                            </div><!-- end table-responsive -->
                            <div v-else class="text-center">
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> Seu carrinho esta vazio!
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <hr class="spacer-20">
                    <div class="row" v-if="checkList(cart.cartProducts)">
                        <div class="col-md-4">
                            <h6>Calcular Frete</h6>
                            <div class="input-group">
                                <input type="text" id="zipCode" v-model="zipCode" class="form-control" placeholder="CEP" required="required">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" @click="checkPriceAndTime">
                                        <i class="fa fa-truck"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <h6>Totais</h6>
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td class="col-md-9">Sub-Total</td>
                                    <td class="col-md-3 text-right">{{cart.subTotalCartFormatted}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-9">Frete</td>
                                    <td class="col-md-3 text-right">{{cart.freight.valorFormatted}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-9">Total</td>
                                    <td class="col-md-3 text-right">{{cart.totalCartFormatted}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="spacer-10 no-border">

                        <a href="/" class="btn btn-light semi-circle btn-md pull-left">
                            <i class="fa fa-arrow-left mr-5"></i> Continuar comprando
                        </a>

                        <a href="/checkout" class="btn btn-default semi-circle btn-md pull-right" v-if="checkList(cart.cartProducts)">
                            Finalizar Compra <i class="fa fa-arrow-right ml-5"></i>
                        </a>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="priceTimeModal" style="display: none;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Preços e Prazos</h4>
                </div><!-- end modal-header -->
                <div class="modal-body">
                    <ul class="list list-unstyled">
                        <li v-for="item in priceTime.cservico">
                            <div class="radio-input radio-default">
                                <input :id="item.codigo" type="radio" name="freight" :value="item" v-model="cart.freight" v-on:click="changeFreight(item)">
                                <label :for="item.codigo">
                                    <h6 class="alt-font">{{item.codigo === "4014" ? "SEDEX" : "PAC"}}: {{item.valor}} Reais</h6>
                                    <p>Prazo de entrega: {{item.prazoEntrega}} dias úteis.</p>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div><!-- end modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                </div>
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div>
</div>
<!-- end section -->
<!-- end page -->
<#include "/footer.html" />
<script type="text/javascript" src="/js/pages/cart.js"></script>
</body>
</html>