<!DOCTYPE html>
<html lang="en">
<head>
    <title>SlotShop - Contato</title>
    <#include "/head.html" />
</head>
<#include "/header.html" />
<div id="forgotPassword">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Empresa</a></li>
                        <li class="active">Contato</li>
                    </ul><!-- end breadcrumb -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumbs -->
    <!-- start section -->
    <section class="section white-backgorund">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h2 class="title">Recuperar Senha</h2>
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="spacer-5"><hr class="spacer-20 no-border">

                    <div class="row">
                        <div class="col-sm-6">
                            <form v-on:submit='changePassword()'>
                                <div class="form-group">
                                    <label for="password">Nova senha</label>
                                    <input type="password" class="form-control input-md" id="password" name="password" v-model="password" placeholder="Nova senha" required :disabled="!isValidToken">
                                </div><!-- end form-group -->
                                <div class="form-group">
                                    <label for="cmfPassword">Confirme sua nova senha</label>
                                    <input type="password" class="form-control input-md" id="cmfPassword" name="cmfPassword" v-model="cmfPassword" placeholder="Confirme sua nova senha" required v-on:blur="confirmPassword()" :disabled="!isValidToken">
                                </div><!-- end form-group -->
                                <div class="form-group">
                                    <button class="btn btn-default round btn-md" :disabled="!isValidPassword"><i class="fa fa-user mr-5"></i>Salvar</button>
                                </div><!-- end form-group -->
                            </form><!-- end form -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</div>
<#include "/footer.html" />
<script type="text/javascript" src="/js/pages/forgotpassword.js"></script>
<script type="text/javascript">
    var token = "${forgotPassword}";
    if(token === "false"){
        forgotPassword.invalidToken();
    }
    forgotPassword.token = token;
</script>
</body>
</html>
