<!-- start topBar -->
<div id="header">
    <div class="topBar inverse">
        <div class="container">
            <ul class="list-inline pull-left hidden-sm hidden-xs">
                <li><span class="text-primary">Dúvidas?</span> Ligue (046) 1234-5678</li>
            </ul>

            <ul class="topBarNav pull-right">
                <li class="linkdown">
                    <a href="javascript:void(0);">
                        <i class="fa fa-user mr-5"></i>
                        <span class="hidden-xs">
                            Minha Conta
                            <i class="fa fa-angle-down ml-5"></i>
                        </span>
                    </a>
                    <ul class="w-150">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Criar Conta</a></li>
                        <li class="divider"></li>
                        <li><a href="cart.html">Meu Carrinho</a></li>
                        <li><a href="cart.html">Meus Pedidos</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- end container -->
    </div>
    <!-- end topBar -->

    <div class="middleBar">
        <div class="container">
            <div class="row display-table">
                <div class="col-sm-3 vertical-align text-left hidden-xs">
                    <a href="javascript:void(0);">
                        <img width="160" src="/img/logo-big.png" alt="" />
                    </a>
                </div><!-- end col -->
                <div class="col-sm-7 vertical-align text-center">
                    <form>
                        <div class="row grid-space-1">
                            <div class="col-sm-9">
                                <input type="text" name="keyword" class="form-control input-lg" placeholder="Buscar">
                            </div><!-- end col -->
                            <div class="col-sm-3">
                                <input type="submit"  class="btn btn-default btn-block btn-lg" value="Buscar">
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </form>
                </div><!-- end col -->
                <div class="col-sm-4 vertical-align header-items hidden-xs">
                    <div class="header-item mr-5">
                        <a href="/cart" data-toggle="tooltip" data-placement="top" title="Carrinho">
                            <i class="fa fa-shopping-basket"></i>
                            <sub>{{cart.totalAmount}}</sub>
                        </a>
                    </div>
                </div><!-- end col -->
            </div><!-- end  row -->
        </div><!-- end container -->
    </div><!-- end middleBar -->

    <!-- start navbar -->
    <div class="navbar yamm navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-3" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:void(0);" class="navbar-brand visible-xs">
                    <img src="/img/logo.png" alt="logo">
                </a>
            </div>
            <div id="navbar-collapse-3" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li><a href="#">Home<i class="ml-5"></i></a></li>
                    <li><a href="#">Monte seu computador<i class="ml-5"></i></a></li>
                    <li><a href="#">Fale Conosco<i class="ml-5"></i></a></li>
                    <li><a href="#">Minha Conta<i class="ml-5"></i></a></li>
                </ul><!-- end navbar-nav -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <span class="hidden-sm">Categorias</span><i class="fa fa-bars ml-5"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu" v-for="nav in navList">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    {{nav.category.name}}
                                </a>
                                <ul class="dropdown-menu" v-if="nav.subCategory.length > 0">
                                    <li v-for="sub in nav.subCategory">
                                        <a href="category.html">{{sub.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- end ul dropdown-menu -->
                    </li><!-- end dropdown -->
                </ul><!-- end navbar-right -->
            </div><!-- end navbar collapse -->
        </div><!-- end container -->
    </div><!-- end navbar -->
</div>