<!DOCTYPE html>
<html lang="en">
<head>
    <title>SlotShop - Ecommerce</title>
    <#include "/head.html" />
</head>
<body>
<#include "/header.html" />
<!-- start section -->
<section class="section light-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <#include "/navbar.html" />
            </div><!-- end col -->
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel slider owl-theme">
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/img/slider/slider_10.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div><!-- end item -->
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/img/slider/slider_09.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div><!-- end item -->
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/img/slider/slider_08.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div><!-- end item -->
                        </div><!-- end owl carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->

<!-- start section -->
<section class="section white-background" id="index">
    <div class="container">
        <div class="row column-4">
            <div class="col-sm-6 col-md-3" v-for="product in productList">
                <div class="thumbnail store style1">
                    <div class="header">
                        <div class="badges">
                            <span class="product-badge top right danger-background text-white semi-circle">-20%</span>
                        </div>
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img :src="getProductPicture(product)" alt="">
                            </a>
                        </figure>
                        <div class="icons">
                            <a class="icon semi-circle" :href="'/product/' + product.id + '/' + product.name"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">{{product.name}}</a></h6>
                        <div class="price">
                            <small class="amount off"></small>
                            <span class="amount text-primary">{{product.amount}}</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Carrinho</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->
<!-- end section -->
<#include "/footer.html" />
<script type="text/javascript" src="/js/pages/index.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
</body>
</html>