<!DOCTYPE html>
<html lang="en">
<head>
    <title>SlotShop - Ecommerce</title>
    <#include "/head.html" />
</head>
<body>
<#include "/header.html" />
<!-- start section -->
<section class="section light-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <#include "/navbar.html" />
            </div><!-- end col -->
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel slider owl-theme">
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/img/slider/nvidia.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div><!-- end item -->
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/img/slider/asus.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div><!-- end item -->
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/img/slider/corsair.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div><!-- end item -->
                        </div><!-- end owl carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->

<!-- start section -->
<section class="section white-background" id="index">
    <div class="container">
        <div class="row column-4">
            <#list products as product>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail store style1">
                        <div class="header">
                            <div class="badges">
                                <span class="product-badge top right danger-background text-white semi-circle">-10%</span>
                            </div>
                            <figure class="layer">
                                <a href="/product/${product.id}/${product.name}">
                                    <img src="http://130.211.158.13:7990/gallery/picture/${product.firstPictureFromGallery}" alt="${product.name}">
                                </a>
                            </figure>
                            <div class="icons">
                                <a class="icon semi-circle" href="/product/${product.id}/${product.name}"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="caption">
                            <h6 class="regular"><a href="/product/${product.id}/${product.name}">${product.name}</a></h6>
                            <#if product.amount <= 0>
                                <div class="text-center" style="margin-top: 10px;">
                                    <button class="btn btn-danger semi-circle btn-sm">
                                        <i class="fa fa-close mr-5"></i> Produto Indisponível
                                    </button>
                                </div>
                                <#else>
                                    <div class="price">
                                        <small class="amount off"></small>
                                        <a href="/product/${product.id}/${product.name}">
                                            <h5 class="text-primary text-center">${product.valueWithDiscountFormatted} à vista ou</h5><h6 class="text-danger text-xs text-center"> 12x de ${product.valueParcelFormatted} no cartão de crédito.</h6>
                                        </a>
                                    </div>
                            </#if>
                        </div><!-- end caption -->
                    </div><!-- end thumbnail -->
                </div><!-- end col -->
            </#list>
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->
<!-- end section -->
<#include "/footer.html" />
<script type="text/javascript" src="/js/navbar.js"></script>
</body>
</html>