<div class="widget">
    <h6 class="subtitle">Navegue em Sua Conta</h6>

    <ul class="list list-unstyled">
        <li>
            <a href="/myinfo">Informações Pessoais</a>
        </li>
        <li>
            <a href="/myadress">Meus Endereços</a>
        </li>
        <li>
            <a href="/cart">Meu Carrinho</a>
        </li>
        <li>
            <a href="/buy">Minhas Compras</a>
        </li>
        <li>
            <a href="/">Trocas</a>
        </li>
        <li>
            <a href="/">Devoluções</a>
        </li>
    </ul>
</div><!-- end widget -->