<div class="navbar-vertical" id="navbar">
    <ul class="nav nav-stacked">
        <li class="header">
            <h6 class="text-uppercase">Categorias <i class="fa fa-navicon pull-right"></i></h6>
        </li>
        <li v-for="nav in navList">
            <a class="dropdown-toggle" data-toggle="dropdown" :href="'/category?id=' + nav.category.id + '&page=0'">
                {{nav.category.name}}<i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul v-if="nav.subCategory.length > 0" class="dropdown-menu">
                <li v-for="sub in nav.subCategory"><a :href="'/category?id=' + sub.id + '&page=0'">{{sub.name}}</a></li>
            </ul>
        </li>
    </ul>
</div>